# precompiled python
*.pyc

# compiled object file
*.o

# roms
*.gbc

# rgbds extras
*.map
*.sym

# save game files
*.sgm
*.sav
*.sys
*.sn*

# converted image/palette data
*.1bpp
*.2bpp
*.pal

# *disasm.py output file
*disasm_output.asm

dont_look.txt
tools/project_map.png
tools/project_map.dot
tools/asm_mapper.py
tools/repo_graph.py
tools/repo_structure.dot
tools/repo_structure.mmd
tools/repo_structure.html
tools/repo_components/

# local debug artifacts
.vscode/
docs/emulicious_expressions.txt
docs/logs.txt
docs/sfx_debug_logpoints.txt